<!-- Eond MyNote 1.4.4 / 제작자 : 정낙훈(eond@eond.com) / 배포처 : http://eond.com -->

<!--// js 파일 import -->
<!--%import("js/default.js")-->

<!--// 레이아웃과 연동될 css 파일 import -->
<!--%import("css/default.css")-->
<!--@if($layout_info->colorset == "white")--><!--%import("css/white.css")-->
<!--@elseif($layout_info->colorset == "green")--><!--%import("css/green.css")-->
<!--@elseif($layout_info->colorset == "blue")--><!--%import("css/blue.css")-->
<!--@elseif($layout_info->colorset == "greenview")--><!--%import("css/greenview.css")-->
<!--@elseif($layout_info->colorset == "black")--><!--%import("css/black.css")-->
<!--@elseif($layout_info->colorset == "gray")--><!--%import("css/gray.css")-->
<!--@elseif($layout_info->colorset == "navy")--><!--%import("css/navy.css")-->
<!--@elseif($layout_info->colorset == "calmative")--><!--%import("css/calmative.css")-->
<!--@elseif($layout_info->colorset == "monochrome")--><!--%import("css/monochrome.css")-->
<!--@elseif($layout_info->colorset == "neutral")--><!--%import("css/neutral.css")-->
<!--@elseif($layout_info->colorset == "columnist")--><!--%import("css/columnist.css")-->
<!--@elseif($layout_info->colorset == "textile")--><!--%import("css/textile.css")-->
<!--@elseif($layout_info->colorset == "kraft")--><!--%import("css/kraft.css")-->
<!--@else--><!--%import("css/default.css")--><!--@end-->

<style type="text/css">
<!--@if($layout_info->background_image)-->
	html {background:url({$layout_info->background_image});}
	#wrap {background-image:url();}
<!--@end-->
<!--@if($layout_info->background_repeat)-->
	html	{background-attachment:{$layout_info->background_repeat};}
<!--@end-->
/* 배경색상 */
<!--@if($layout_info->bgcolor_gnb)-->#gnb,b.rtopG b, b.rbottomG b{background:{$layout_info->bgcolor_gnb};}<!--@end-->
<!--@if($layout_info->bgcolor_sitebar)-->#siteNav{background:{$layout_info->bgcolor_sitebar};}<!--@end-->
/* 컨텐츠 테두리 */
<!--@if($layout_info->bgcolor_main)-->
b.rtopC, b.rbottomC{display:block;clear:both;width:100%;}
b.rtopC b, b.rbottomC b{display:block;height: 1px;overflow: hidden; background:{$layout_info->bgcolor_main};}
b.rtopC b.r4, b.rbottomC b.r4{display:block;margin: 0 1px;height: 2px}
#main {background:{$layout_info->bgcolor_main};margin:0;padding:0px;float:left;width:100%;}
<!--@end-->
<!--@if($layout_info->background_bgcolor)-->
	html	{background-color:{$layout_info->background_bgcolor};background-image:url();}
	#wrap {background-image:url();}
<!--@end-->

<!--@if($layout_info->background_image2)-->
	#wrap {background:url({getUrl()}{$layout_info->background_image2}) right bottom no-repeat fixed;}
<!--@end-->
<!--@if($layout_info->con_width)-->
	#container {width:{$layout_info->con_width}px;}
<!--@end-->
/* 사이드바 넓이 설정*/
<!--@if($layout_info->side_width)-->
	#profile img {width:85%;}
	#sidebar {width:{$layout_info->side_width}px;}
	#colgroup {table-layout:fixed;width:100%};
<!--@end-->
<!--@if($layout_info!=side_width)--> /* 사이드 넓이를 입력하지 않을 경우(2013.02.17) */
#colgroup {}
<!--@end-->
<!--@if($layout_info->aside_width)-->
	#aside {width:{$layout_info->aside_width}px;}
<!--@end-->

<!--@if($layout_info->logo_image)-->
#logo {background: url("{$layout_info->logo_image}");}
<!--@end-->
<!--@if($layout_info->profile_bg)-->
#profile {background:{$layout_info->profile_bg};}
b.rtopB b, b.rbottomB b{background:{$layout_info->profile_bg};}
<!--@end-->

<!--@if($layout_info->profile_color)-->
#profile p {color:{$layout_info->profile_color}}
<!--@end-->

<!--@if($layout_info->layout_position == "left")-->
#wrap {width:100%;height:100%;margin:0;padding:0 0 26px 0;background:url(../images/bg/bg_wrap_default.gif) no-repeat right bottom fixed;table-layout:fixed;left:0;}
#container,#aside {padding-top:10px;}
<!--@elseif($layout_info->layout_position == "center")-->
#wrap {width:1000px;position:relative;left:50%;margin-left:-480px;margin-top:0px;padding-top:10px;}
#column {display:none;}
#aside {margin-left:5px;}
<!--@end-->

<!--@if($layout_info->gnb_position == "left")-->
#gnb {text-align:left;}
<!--@elseif($layout_info->gnb_position == "center")-->
#gnb {text-align:center;}
<!--@else-->
#gnb {text-align:right;}
<!--@end-->
<!--@if($layout_info->lnb_size)-->
#lnb a {font-size:{$layout_info->lnb_size}pt;}
<!--@end-->
/**/
</style>

<!-- s : wrap -->
<table id="wrap" cellSpacing="0"><tr valign="top">

<!-- s : column -->
<td id="column" nowrap>
<a href="http://eond.com"><h1 id="logo"></h1></a><span id="theme"></span><span id="top" onclick="back_top()"></span></td>
<!-- e : column -->

<!-- s : container -->
<td id="container">

<b class="rtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<table id="colgroup" cellSpacing="0">
<tr valign="top">
<td id="sidebar">
<div id="snb">
<div id="counter"><img class="zbxe_widget_output" widget="counter_status" skin="mynote" colorset="normal" /></div>

<b class="rtopB"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<div id="profile">
<!--@if(!$layout_info->index_url)--><a href="/"><!--@else--><a href="{$layout_info->index_url}"><!--@end-->

<!--@if($layout_info->profile_image)-->
<img src="{$layout_info->profile_image}" title="my profile image" class="iePngFix profileimg" width="85%" />
<!--@else-->
<img src="./images/profile.png" title="profile" class="iePngFix profileimg" width="125px" />
<!--@end--></a>
<!--@if($layout_info->profile)--><p>{$layout_info->profile}</p><!--@end-->
</div><b class="rbottomB"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>

<img class="zbxe_widget_output" widget="login_info" skin="eond_mynote" colorset="default" />
<img class="zbxe_widget_output" widget="point_status" skin="default" colorset="white" style="margin-bottom:5px;"/>
<!-- 공지사항 출력 -->
<!--@if($layout_info->wdg_notice)-->
<div class="wdg" cond="$layout_info->view_notice!='off'">
	<!--@if($layout_info->wdg_notice_link)-->
	<a href="{$layout_info->wdg_notice_link}"><h3><!--@if($layout_info->wdg_notice_title)-->{$layout_info->wdg_notice_title}<!--@else-->NOTICE<!--@end--></h3></a>
	<!--@else-->
	<h3><!--@if($layout_info->wdg_notice_title)-->{$layout_info->wdg_notice_title}<!--@else-->NOTICE<!--@end--></h3>
	<!--@end-->
	<img class="zbxe_widget_output" widget="content" skin="mynote" colorset="white" content_type="document" list_type="normal" tab_type="none" markup_type="list" list_count="3" page_count="<!--@if($layout_info->wdg_page == "3")-->3<!--@elseif($layout_info->wdg_page == "2")-->2<!--@else-->1<!--@end-->" subject_cut_size="<!--@if($layout_info->wdg_title)-->{$layout_info->wdg_title}<!--@else-->20<!--@end-->" option_view="title"  show_browser_title="N" show_comment_count="Y" show_trackback_count="N" show_category="N" show_icon="N" order_target="list_order" order_type="desc" thumbnail_type="crop" module_srls="{$layout_info->wdg_notice}"  />
</div>
<!--@end-->



<div class="widget_title">CATEGORY</div>


<!-- 2차 메뉴 전에 선행된 1차 메뉴 숨김 -->
<ul style="display:none;">{@$loc=0}
<!--@foreach($main_menu->list as $key => $val)--><!--@if($val['selected'])-->
<li class="first_li<!--@if($val['selected'])-->{@$location[$loc]=$val}{@$loc++} selected<!--@end-->">
{@ $menu_1st = $val }
		<!--@if($val['list'])-->
		<ul>
			<!--@foreach($val['list'] as $k => $v)--><!--@if($v['link'])-->
			<li class="second_li<!--@if($v['selected'])--> selected selected_2{@$location[$loc]=$v}{@$loc++}<!--@end-->"></li>
			<!--@end--><!--@end-->
		</ul>
		<!--@end-->
</li>
<!--@end--><!--@endforeach-->
</ul>

<!-- main_menu 2차 시작 -->
<!--@if($menu_1st)-->
<ol id="lnb">
	{@ $idx = 1 }
	<!--@foreach($menu_1st['list'] as $key => $val)--><!--@if($val['link'])-->
	<li <!--@if($val['selected'])-->class="on"<!--@end-->><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['link']}</a>

		<!-- main_menu 3차 시작 -->
		<!--@if($val['list'] && ($val['expand']=='Y'||$val['selected']) )-->
		<ul>
		<!--@foreach($val['list'] as $k => $v)--><!--@if($v['link'])-->
<li <!--@if($v['selected'])-->class="on"<!--@end-->><a href="{$v['href']}" <!--@if($v['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$v['link']}</a></li>
		<!--@endif--><!--@endforeach-->
		</ul>
		<!--@endif-->
	</li>
	{@$idx++}
	<!--@endif--><!--@endforeach-->
</ol>
<!--@endif-->


</ul>

<ul id="lnb" loop="$wnb->list=>$key,$val" cond="$val['selected']" style="display:none;">
	<ul cond="$val['list']">
	<li loop="$val['list']=>$key1,$val1"><a href="{$val1['href']}" target="_blank"|cond="$val['open_window']=='Y'">{$val1['link']}</a></li>
	</ul>
</ul>




<!--// 최근글 위젯 cond="$layout_info->d_wgt" -->
<div class="wdg" cond="$layout_info->view_lst!='off'">
<h3>Recent Articles</h3>
<img class="zbxe_widget_output" widget="content" skin="mynote" content_type="document" list_type="normal" markup_type="list" list_count="5" page_count="<!--@if($layout_info->wdg_page == "3")-->3<!--@elseif($layout_info->wdg_page == "2")-->2<!--@else-->1<!--@end-->" option_view="<block cond="$layout_info->wdg_option">{@ $var = implode(",",$layout_info->wdg_option)}{$var}</block>" order_type="desc" subject_cut_size="<!--@if($layout_info->wdg_title)-->{$layout_info->wdg_title}<!--@else-->20<!--@end-->" show_comment_count="Y" />
</div>

<!-- 최근댓글 출력 -->
<div class="wdg" cond="$layout_info->view_cmt!='off'">
<h3>comments</h3>
	<img class="zbxe_widget_output" widget="content" skin="mynote" colorset="white" content_type="comment" list_type="normal" tab_type="none" markup_type="list" list_count="5" page_count="<!--@if($layout_info->wdg_page == "3")-->3<!--@elseif($layout_info->wdg_page == "2")-->2<!--@else-->1<!--@end-->" subject_cut_size="<!--@if($layout_info->wdg_title)-->{$layout_info->wdg_title}<!--@else-->20<!--@end-->" option_view="nickname,regdate,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="list_order" order_type="desc" thumbnail_type="crop" />
</div>


<!--@if($layout_info->wdg4)-->
<div class="wdg">
	<!--@if($layout_info->wdg4h)--><h3>{$layout_info->wdg4h}</h3><!--@end-->
	{$layout_info->wdg4}
</div>
<!--@end-->

	<!--@if($layout_info->family_site)-->
	<div id="family_site">
		<h4 onclick="slideFamilySite()"><span>Family Site</span></h4>
		<div id="site_list">
			<ul>
				<!--@foreach($family_site->list as $key => $val)-->
				<li><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['link']}</a></li>
				<!--@endforeach-->
			</ul>
		</div>
	</div>
	<hr />
	<!--@end-->


</td>

<td id="content">
<b class="rtopG"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<div style="position:relative;">
<ul id="gnb" style="position:relative;">

<!-- main_menu 1차 시작 -->
<!--@foreach($main_menu->list as $key => $val)--><!--@if($val['link'])-->
	<!--@if($val['selected'])-->
		{@ $menu_1st = $val }
	<!--@end-->
<li style="" <!--@if($val['selected'])-->class="on"<!--@end-->><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->><img src="./images/bg_menu.gif" style="vetical-align:middle;margin-right:3px;">{$val['link']}</a>

	<ul cond="$val['list']" style="position:absolute;">
	<a href="#"><li loop="$val['list']=>$key2,$val2" cond="$val2['link']" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'" style="display:block;">{$val2['link']}</a></li></a>
	</ul>



</li>
<!--@endif--><!--@endforeach-->
</ul>
</div>

<!--
		<div class="gnb">
			<ul>
				<li loop="$main_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']"><a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
					<ul cond="$val1['list']">
						<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a></li>
					</ul>
				</li>
			</ul>
		</div>
-->
<b class="rbottomG"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>


<style>
#wnb ul {list-style-type:none;clear:both;margin:0;padding:0;text-align:right;}
#wnb li {display:inline-block;padding:0 2px;}
#wnb table ul {border-top:1px solid #2E2E2E;border-left:1px solid #2E2E2E;border-right:1px solid #1C1C1C;border-bottom:1px solid #1C1C1C;position:absolute;display:none;background:#252525;z-index:1000;padding:5px;text-align:center;}
#wnb td:hover ul {display:block;}
#wnb table li {display:inline-block;padding:2px;font:11px dotum;text-align:left;width:70px;float:left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;border:2px solid transparent;}
#wnb table li:hover {border-bottom:2px solid #111111;}

</style>
<!-- s: wnb -->
<div id="wnb" cond="$wnb->list">
<b class="rtopW"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<table>
<tr>
<td loop="$wnb->list=>$key1,$val1" class="active"|cond="$val1['selected']"><a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
<ul cond="$val1['list']">
<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a></li>
</ul>
</td>
</tr>
</table>

<b class="rbottomW"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
</div>
<!-- e: wnb -->

<div name="location" style="margin-bottom:5px;">
<!--@if($layout_info->location_view!='hidden')-->
<ul id="location">
	<li class="location c_0"><a class="location_home" href="{$layout_info->index_url}"><span class="blank"><!--@if(!$layout_info->index_name)-->Gray Style<!--@else-->{$layout_info->index_name}<!--@end--></span></a></li>
	<!--@if($loc > 0)--><!--@for($i=0; $i<$loc; $i++)-->
	<li class="location c_{$i+1}"><a href="{$location[$i]['href']}">{$location[$i]['text']}</a></li>
	<!--@end--><!--@end-->
</ul>
<style type="text/css">#location .c_{$loc} { background:none;}</style>
<!--@end-->
</div>

<b class="rtopC"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<div id="main">
<div cond="$layout_info->wdg_contentT" class="wdg_content" style="width:100%;padding:0px;margin:10px 0;text-align:center;border:0px solid red;">{$layout_info->wdg_contentT}</div>
<div style="margin:5px 10px;">{$content}</div>
<div cond="$layout_info->wdg_contentB" class="wdg_content" style="width:100%;padding:0px;margin:-5px 0 10px 0;text-align:center;border:0px solid red;float:left;">{$layout_info->wdg_contentB}</div>
</div>
<b class="rbottomC"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>


</td>
</tr>
</table>
</div>
<b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>

</td>
<!-- e : container -->
<!-- s : widget -->
<td>
<script type="text/javascript">slide_menu = <!--@if($layout_info->slide=='true')-->true<!--@else-->false<!--@end-->;</script>
<div id="aside">

	<!--@if($layout_info->wdg1)-->
	<div class="wdg" style="margin-bottom:10px;">
		<!--@if($layout_info->wdg1h)-->
				<!--@if($layout_info->wdg1url)-->
				<a href="{$layout_info->wdg1url}"><h3>{$layout_info->wdg1h}</h3></a>
				<!--@else-->
				<h3>{$layout_info->wdg1h}</h3>
				<!--@end-->
		<!--@end-->
		{$layout_info->wdg1}
	</div>
	<!--@end-->

<b class="rtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<div id="widget">
<!-- 검색 폼 출력 -->
<fieldset id="isSearch">
<legend>검색창</legend>
<form action="{getUrl()}" method="post">
<!--@if($vid)-->
<input type="hidden" name="vid" value="{$vid}" />
<!--@end-->
<input type="hidden" name="mid" value="{$mid}" />
<input type="hidden" name="act" value="IS">
<input type="hidden" name="search_target" value="title_content" />
<input name="is_keyword" value="{$is_keyword}" type="text" class="inputText" title="검색어 입력" />
<input type="image" src="./images/btn_search.gif" alt="{$lang->cmd_search}" class="submit" />
</form>
</fieldset>

<!-- s : Widget Calendar (ver.1.4.3, 20130217) -->
<div class="wdg" cond="$layout_info->cal=='on'">
<h3>calendar</h3>
<img class="zbxe_widget_output" widget="calendar" skin="blog_calendar_list" srl="{$layout_info->cal_module}" />
</div>
<!-- e : Widget Calendar -->

<!-- s : Tag Calendar (ver.1.4.3, 20130217) {$layout_info->tag_module} -->
<div class="wdg" cond="$layout_info->tag=='on'">
<h3>tag</h3>
<img class="zbxe_widget_output" widget="tag_list" skin="tagcloud" list_count="20" module_srls="{$layout_info->tag_module}" style="clear:both;width: 100%;margin:-15px 0 -5px 0;"  />
</div>
<!-- e : Tag Calendar -->


	<!--@if($layout_info->wdg2)-->
	<div class="wdg">
		<!--@if($layout_info->wdg2h)-->
				<!--@if($layout_info->wdg2url)-->
				<a href="{$layout_info->wdg2url}"><h3>{$layout_info->wdg2h}</h3></a>
				<!--@else-->
				<h3>{$layout_info->wdg2h}</h3>
				<!--@end-->
		<!--@end-->
		{$layout_info->wdg2}
	</div>
	<!--@end-->

<div class="widget_title">link site</div>
<ul style="text-align:center;">
<li><a href="http://eond.com/mynote"><img src="./images/bns/bn_eond.gif" alt="이온디"></a></li>
<li><a href="http://www.raonnet.com/invite2/xynex" target="_blank"><img src="./images/bns/bn_raonnet.gif" alt="무료호스팅 라온넷"></a></li>
</ul>
</div>

<b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>

<!-- s : Language Setting -->
<style type="text/css">
.language {margin:5px;font:10px verdana;}
.language strong {font:11px dotum;color:#555;}
.language button {font:10px verdana;}

.language .selectLang {display:none;}
.language:hover .selectLang {display:block;}
.language button {background:transparent;color:#555;}
.language ul {margin:0;padding-left:110px;padding-top:5px;position:absolute;}
.language li {list-style:none;padding:0;}
.language li button {font:11px dotum;}
</style>

<div class="language" cond="$layout_info->view_lang=='on'">
<button type="button" class="toggle">Select Language > </button> <strong title="{$lang_type}">{$lang_supported[$lang_type]}</strong>
<ul class="selectLang">
<li loop="$lang_supported=>$key,$val" cond="$key!= $lang_type"><button type="button" onclick="doChangeLangType('{$key}');return false;">{$val}</button></li>
</ul>
</div>
<!-- e : Language Setting -->

<div cond="$layout_info->clock == 'on'" style="margin:-5px 0;">
<script type="text/javascript">displayMultimedia("_XE_PATH_./layouts/eond_mynote/images/clock.swf", "100%","",false);</script>
</div>

	<!--@if($layout_info->wdg3)-->
	<div class="wdg">
		<!--@if($layout_info->wdg3h)--><h3>{$layout_info->wdg3h}</h3><!--@end-->
		{$layout_info->wdg3}
	</div>
	<!--@end-->

</div>
</td>
<!-- e : widget -->
</tr></table>
<!-- e : wrap -->
<div id="footer">
<!-- s : siteNav -->
<div id="siteNav">
	<ul>
	<li style="float:right;padding:0;margin:0;font:10px tahoma;" class="powered">Powered by <a href="http://eond.com" target="_blank">Eond</a></li>
	<!--@foreach($site_menu->list as $key => $val)--><!--@if($val['link'])-->
		<!--@if($val['selected'])-->
			{@ $menu_1st = $val }
		<!--@end-->
	<li <!--@if($val['selected'])-->class="on"<!--@end-->><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['link']}</a></li>
	<!--@end-->
	<!--@else--><div class="copyright">Copyright ⓒ <a href="http://eond.com" target="_blank"><b>eond.</b></a> All Rights Reserved.</div>
	<!--@end-->
	</ul>
</div>
<!-- e: siteNav -->

</div>

